#loginn {
  margin-top: 50px;
}

#page{
  margin-left: 500px;
}
.pagination>ul{
  list-style: none;
}
.pagination div:nth-child(1)
{
  float:left;
}

.pagination div:nth-child(2)
{
  float:left;
}
.pagination div:nth-child(3)
{
  float:left;
}
.pagination div:nth-child(4)
{
  float:left;
}
.pagination div:nth-child(5)
{
  float:left;
}
<!--- 페이지 번호--->
<!--- 로그인 창--->
#login {

}
